* {
  box-sizing: border-box; /* Allow the box size specified with border and padding inclusive */
  margin: 0;              /* Reset the browser's default value */
  padding: 0;             /* Reset the browser's default value */
  text-decoration: none;  /* Remove the underline from the anchor tag */
}

/* Universal style */
html {
  font-size: 16px;
}

.container {
  padding: 0 1.5rem;
  width: 100%;
}

/* Header */
header nav {
  height: 4rem;
}

nav.mobile-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

nav.desktop-nav {
  display: none;
}

@media only screen and (min-width: 768px) {
  nav.mobile-nav {
    display: none;
  }

  nav.desktop-nav {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .logo img {
    height: 2rem;
  }

  nav ul {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  nav ul li {
    padding-left: 1rem;
  }
}

/* Banner */
.banner {
  background-color: silver; /* temporary */
}

.banner .container {
  padding: 0;
}

.banner figure {
  width: 100%;
}

.banner img {
  max-width: 100%;
}

.banner-text {
  padding: 2rem 1rem;
}

.banner-text h2 {
  font-size: 4rem; /* temporary */
}

.banner-text p {
  font-size: 2rem; /* temporary */
  padding-bottom: 1.5rem;
  padding-top: 2rem;
}

.button {
  background-color: gray; /* temporary */
  color: white; /* temporary */
  display: block;
  font-size: 2rem;
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
}
