* {
  box-sizing: border-box; /* Allow the box size specified with border and padding inclusive */
  margin: 0;              /* Reset the browser's default value */
  padding: 0;             /* Reset the browser's default value */
  text-decoration: none;  /* Remove the underline from the anchor tag */
}

/* Universal style */
html {
  font-size: 16px;
}

.container {
  padding: 0 1rem;
  width: 100%;
}

h2 {
  font-size: 4rem; /* temporary */
}

h3 {
  font-size: 2rem; /* temporary */
}

figure img {
  max-width: 100%;
}

/* Header */
header nav {
  height: 4rem;
}

nav.mobile-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

nav.desktop-nav {
  display: none;
}

/* Banner */
.banner {
  background-color: silver; /* temporary */
}

.banner figure {
  width: 100%;
}

.banner-text {
  padding: 2rem 1rem;
}

.banner-text p {
  font-size: 2rem; /* temporary */
  padding-bottom: 1.5rem;
  padding-top: 2rem;
}

.button {
  background-color: gray; /* temporary */
  color: white; /* temporary */
  display: block;
  font-size: 2rem;
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
}

/* Information section */
.testimony {
  display: none;
}

.read-mores {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem 1rem;
}

img.desktop {
  display: none;
}

.read-more-container {
  padding: 4rem 1rem;
}

.read-more:last-child .read-more-container {
  padding-bottom: 0;
}

/* Courses */
.courses {
  align-items: center;
  border: 1px solid silver;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

.courses h2 {
  padding-bottom: 0.5rem; /* together with the .course class's margin-top 0.5rem, the total space is 1rem below h2. */
}

.course-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.course {
  background-color: silver; /* Temporary */
  margin-top: 0.5rem;
  padding: 1rem 1rem 1.5rem 1rem;
  width: 100%;
}

.courses h3 {
  text-align: center;
}

.courses figure,
.courses h6,
.courses p {
  display: none;
}

/* Exhibits */
.exhibit {
  padding-bottom: 1.5rem;
  width: 100%;
}

.exhibit h2 {
  padding: 2rem 0 1rem 0;
  text-align: center;
}

video {
  max-width: 100%;
}

.thesis-main h3,
.thesis-main p {
  display: none;
}

.theses {
  display: none;
}

/* Footer */
footer {
  padding: 1rem 0;
}

footer nav {
  display: none;
}

/* Desktop */
@media only screen and (min-width: 768px) {

  /* Univesal Style */

  .container {
    padding: 0;
  }

  .desktop-section {
    display: flex;
    padding: 2rem 0;
  }

  nav ul {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  nav ul li {
    padding-left: 1rem;
  }

  .desktop-left {
    padding: 0 1.5rem;
    width: 60%;
  }

  .desktop-right {
    width: 40%;
  }

  figure.desktop-figure {
    width: 100%;
  }

  .desktop-right section {
    align-items: center;
    display: flex;
  }

  .desktop-right section figure {
    padding: 1rem;
    width: 35%;
  }

  .read-more-container {
    padding: 0;
    width: 65%;
  }

  .read-more-container p {
    padding-top: 0.5rem;
  }

  /* Header (Desktop) */
  nav.mobile-nav {
    display: none;
  }

  nav.desktop-nav {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .logo img {
    height: 2rem;
  }

  /* Banner (desktop) */
  .banner {
    align-items: center;
  }

  /* Information (Desktop) */

  .information {
    display: flex;
  }

  .testimony {
    display: block; /* Override the mobile screen setting */
  }

  .testimony h2 {
    padding-top: 2rem;
  }

  .testimony p {
    padding-top: 1.5rem;
  }

  .read-mores {
    padding: 0;
    position: relative;
    bottom: 2rem;
  }

  .read-more {
    border: 1px solid silver;
  }

  .read-more:first-child {
    border-top: none;
  }

  .read-more:first-child figure {
    padding-top: 2rem;
  }

  .read-more:last-child {
    background-color: silver;
  }

  img.mobile {
    display: none;
  }

  img.desktop {
    display: block;
  }

  /* Courses (Desktop) */
  .courses {
    background-color: silver;
    border: none;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }

  .courses h2 {
    padding-bottom: 1rem;
  }

  .course-container {
    align-items: stretch; /* For the .course class to be of equal height */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  .course-container:last-child {
    margin-top: 2rem;
  }

  .courses figure,
  .courses h6,
  .courses p {
    display: block;
  }

  .course {
    background-color: white; /* Temporary */
    flex-grow: 1;
    margin-left: 2rem;
    margin-top: 0rem; /* Reset the mobile layout */
    padding: 0 0 1.5rem 0;
    width: 31%;
  }

  .course:first-child {
    margin-left: 0;
  }

  .course h3,
  .course h6,
  .course p {
    padding-left: 1rem;
    text-align: left;
  }

  .course h3 {
    padding-top: 1rem;
  }

  .course h6 {
    padding-top: 0.5rem;
  }

  .course p {
    padding-top: 0.5rem;
  }

  /* Exhibits (Desktop) */
  .thesis-main h3,
  .thesis-main p,
  .theses {
    display: block;
  }

  .thesis-main h3 {
    padding-top: 1.5rem;
  }

  .thesis-main p {
    padding-top: 0.5rem;
  }

  .thesis:first-child {
    background: silver;
  }
  /* Footer (Desktop) */

  footer {
    border-top: 1px solid silver;
  }
  footer .container {
    display: flex;
    justify-content: space-between;
  }
  footer nav {
    display: block;
  }
  footer nav span {
    padding-left:
  }
}
